body {
  background-color: rgb(167, 86, 242);
}

button {
  padding: 10px 20px;
  margin: 20px;
}

h2 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  text-align: center;
}

.custom-loader p {
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 221, 0)
}

.custom-loader p {
  font-size: 28px;
}

.loader-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-spinner div {
  margin-top: 10px;
  cursor: pointer;
}